<%= form_for @vacancy, url: wizard_path do |f| %>

   <div class="field">
      <%= f.label :modules_array %>
      <% ["Contact Gegevens", "Social Media"].each do |m| %>
         <%= check_box_tag "vacancy[modules_array][]", m, false, id: "vacancy_modules_#{m}" %><%= m %>
      <% end %>
   </div>

   <div class="field">
      <%= f.label :vertical_positions_array %>
      <% ["1", "2"].each do |m| %>
         <%= check_box_tag "vacancy[vertical_positions_array][]", m, false, id: "vacancy_vertical_positions_#{m}" %><%= m %>
      <% end %>
   </div>

   <div class="field">
      <%= f.label :vertical_positions_array %>
      <% ["3", "4"].each do |m| %>
         <%= check_box_tag "vacancy[vertical_positions_array][]", m, false, id: "vacancy_vertical_positions_#{m}" %><%= m %>
      <% end %>
   </div>

   <div class="field">
      <%= f.submit "Continue" %>
   </div>

<% end %>
