<%= form_for @vacancy, url: wizard_path do |f| %>

   <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
   </div>

   <div class="field">
      <%= f.label :module_horizontal_position %>
      <%= f.text_field :module_horizontal_position %>
   </div>

   <div class="field">
      <%= f.label :module_vertical_position %>
      <%= f.text_field :module_vertical_position %>
   </div>

   <div class="field">
      <%= f.label :module_width %>
      <%= f.text_field :module_width %>
   </div>

   <div class="field">
      <%= f.label :module_height %>
      <%= f.text_field :module_height %>
   </div>

   <div class="field">
      <%= f.submit "Continue" %>
   </div>

<% end %>
