<!-- sort: true -->
<div class="container-fluid">
   <div class="col-md-3 modules-pick-zone">
      <div id="sortTrue" class="modules-list-group" style="min-height:300px;">
        <div data-name="module-1" data-id="ter" class="modules-list-item"><span class="module-text">Module 1</span></div>
        <div data-name="module-2" data-id="tr" class="modules-list-item"><span class="module-text">Module 2</span></div>
        <div data-name="module-3" data-id="2345" class="modules-list-item"><span class="module-text">Module 3</span></div>
        <div data-name="module-4" data-id="erf" class="modules-list-item"><span class="module-text">Module 4</span></div>
        <div data-name="module-5" data-id="kjh" class="modules-list-item"><span class="module-text">Module 5</span></div>
      </div>
   </div>

   <div class="col-md-9 modules-drop-zone">
      <!-- sort: false -->
      <div id="sortFalse" class="picked-modules-group" style="min-height:300px;">

      </div>
   </div>
</div>

  <script>
   var order, sortTrue, sortFalse;

   sortTrue = document.getElementById('sortTrue');
   sortFalse = document.getElementById('sortFalse');

   Sortable.create(sortTrue, {
   group: "sorting",
   });

   Sortable.create(sortFalse, {
   group: "sorting",
   onUpdate: function (/**Event*/evt) {
      updateOrder();
   },

   onAdd: function (/**Event*/evt) {
      updateOrder();
   },

   onRemove: function(evt) {
      updateOrder();
   }
   });

   function updateOrder() {
   order = {
      gallery: []
   };
   $('#sortFalse div[data-id]').each(function() {
      order.gallery.push($(this).attr('data-id'));
   });
   console.log(order);
   updateOrderDB();
   }

   function updateOrderDB() {
   // $.ajax({
   //   type: "POST",
   //   url: "ajax.php",
   //   data: order
   // }).done(function (response) {
   //     console.log(response);
   // });
   }
  </script>

<%= form_for @vacancy, url: wizard_path do |f| %>

   <!-- <%= render partial: 'vacancy_steps/partials/contact-gegevens', locals: {f: f} %> -->

   <div class="button" id="contact-gegevens" onclick="show_module('contact-gegevens-module')">Contact Gegevens</div>
   <div class="button" id="social-media" onclick="show_module('social-media-module')">Social Media</div>
   <!-- <div class="button" id="profiel-foto" onclick="show_module('profiel-foto-module')">Profiel Foto</div> -->

   <div id="contact-gegevens-module" class="contact-gegevens-module" style="display:none">
      <input type="hidden" name="vacancy[contact_fields_name]" value="contact_gegevens">

      <div class="field">
         <%= f.label :contact_fields_horizontal_position %>
         <%= f.text_field :contact_fields_horizontal_position %>
      </div>

      <div class="field">
         <%= f.label :contact_fields_vertical_position %>
         <%= f.text_field :contact_fields_vertical_position %>
      </div>

      <div class="field">
         <%= f.label :contact_fields_width %>
         <%= f.text_field :contact_fields_width %>
      </div>

      <div class="field">
         <%= f.label :contact_fields_height %>
         <%= f.text_field :contact_fields_height %>
      </div>
   </div>

   <div id="social-media-module" class="social-media-module" style="display:none">
      <input type="hidden" name="vacancy[social_media_name]" value="social_media">

      <div class="field">
         <%= f.label :social_media_horizontal_position %>
         <%= f.text_field :social_media_horizontal_position %>
      </div>

      <div class="field">
         <%= f.label :social_media_vertical_position %>
         <%= f.text_field :social_media_vertical_position %>
      </div>

      <div class="field">
         <%= f.label :social_media_width %>
         <%= f.text_field :social_media_width %>
      </div>

      <div class="field">
         <%= f.label :social_media_height %>
         <%= f.text_field :social_media_height %>
      </div>
   </div>

   <div class="field">
      <%= f.submit "Volgende" %>
   </div>

<% end %>
