<%= form_for @vacancy do |f| %>
   <% if @vacancy.errors.any? %>
      <div id="errors">
         <h2><%= pluralize(@vacancy.errors.count, "error") %> prevented this vacancy from saving.</h2>
         <ul>
            <% @vacancy.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <span class="input input--kaede ">
      <%= f.text_field :title, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_title">
         <span class="input__label-content input__label-content--kaede"> Naam Vacature </span>
      </label>
   </span>

   <span class="input input--kaede kaede--textarea">
      <%= f.text_area :description, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_description">
         <span class="input__label-content input__label-content--kaede"> Beschrijving Vacature </span>
      </label>
   </span>

   <!-- <span class="input input--kaede">
      <%= f.text_field :location, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_location">
         <span class="input__label-content input__label-content--kaede"> Locatie </span>
      </label>
   </span> -->
   <div class="field">
      <%= f.label :location_id %>
      <%= f.collection_select :location_id, Location.all, :id, :name %>
   </div>


   <span class="input input--kaede kaede--textarea">
      <%= f.text_area :demands, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_demands">
         <span class="input__label-content input__label-content--kaede"> Vacature Eisen </span>
      </label>
   </span>

   <span class="input input--kaede">
      <%= f.text_field :branche, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_branche">
         <span class="input__label-content input__label-content--kaede"> Vacature Branche </span>
      </label>
   </span>

   <span class="input input--kaede">
      <%= f.text_field :education_level, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_education_level">
         <span class="input__label-content input__label-content--kaede"> Educatie Niveau </span>
      </label>
   </span>

   <span class="input input--kaede kaede--textarea">
      <%= f.text_area :experience, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_experience">
         <span class="input__label-content input__label-content--kaede"> Ervaring </span>
      </label>
   </span>

   <p>
      <%= f.submit %>
   </p>

<% end %>
