<%= form_for @vacancy do |f| %>
   <% if @vacancy.errors.any? %>
      <div id="errors">
         <h2><%= pluralize(@vacancy.errors.count, "error") %> prevented this vacancy from saving.</h2>
         <ul>
            <% @vacancy.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>


   <span class="input input--kaede">
      <%= f.text_field :title, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_title">
         <span class="input__label-content input__label-content--kaede"> Naam Vacature </span>
      </label>
   </span>

      <span class="input input--kaede">
      <%= f.text_area :description, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_description">
         <span class="input__label-content input__label-content--kaede"> Beschrijving Vacature </span>
      </label>
   </span>

   <span class="input input--kaede">
      <%= f.text_field :title, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_title">
         <span class="input__label-content input__label-content--kaede"> Naam Vacature </span>
      </label>
   </span>

   <span class="input input--kaede">
      <%= f.text_field :title, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_title">
         <span class="input__label-content input__label-content--kaede"> Naam Vacature </span>
      </label>
   </span>

      <span class="input input--kaede">
      <%= f.text_field :title, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_title">
         <span class="input__label-content input__label-content--kaede"> Naam Vacature </span>
      </label>
   </span>

   <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
   </p>

   <p>
      <%= f.label :location %><br />
      <%= f.text_field :location %>
   </p>

   <p>
      <%= f.label :demands %><br />
      <%= f.text_area :demands %>
   </p>

   <p>
      <%= f.label :branche %><br />
      <%= f.text_field :branche %>
   </p>

   <p>
      <%= f.label :education_level %><br />
      <%= f.text_field :education_level %>
   </p>

   <p>
      <%= f.label :experience %><br />
      <%= f.text_area :experience %>
   </p>

   <p>
      <%= f.submit %>
   </p>

<% end %>
