<%= form_for @vacancy do |f| %>
<% if @vacancy.errors.any? %>
  <div id="errors">
     <h2><%= pluralize(@vacancy.errors.count, "error") %> prevented this vacancy from saving.</h2>
     <ul>
        <% @vacancy.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
        <% end %>
     </ul>
  </div>
<% end %>

<div class="form new-vac-form">

  <%= f.text_field :title, class: '', placeholder: 'Naam vacature' %>

  <%= f.text_area :description, class: '', placeholder: 'Bescrijving vacature' %>

  <%= f.text_field :location, class: '', placeholder: 'Locatie' %>

  <%= f.text_area :demands, class: '', placeholder: 'Eisen' %>

  <%= f.text_field :branche, class: '', placeholder: 'Branche' %>

  <%= f.text_field :education_level, class: '', placeholder: 'Educatie Niveau' %>

   <!-- <span class="input input--kaede">
      <%= f.text_field :location, class: 'input__field input__field--kaede' %>
      <label class="input__label input__label--kaede" for="vacancy_location">
         <span class="input__label-content input__label-content--kaede"> Locatie </span>
      </label>
   </span> -->
   <div class="field">
      <%= f.label :location_id %>
      <%= f.collection_select :location_id, Location.all, :id, :name %>
   </div>
  <%= f.text_area :experience, class: '', placeholder: 'Ervaring' %>

  <label for="">Mail voor sollicitanten die worden uitgenodigd voor een gesprek.</label>
  <textarea name="" id="bottom-border-radius" cols="30" rows="10" placeholder="Tekst"> </textarea>

  <label for="">Mail voor sollicitanten die een twijfelgeval zijn.</label>
  <textarea name="" id="bottom-border-radius" cols="30" rows="10" placeholder="Tekst"> </textarea>

  <label for="">Mail voor sollicitanten die worden afgewezen.</label>
  <textarea name="" id="bottom-border-radius" cols="30" rows="10" placeholder="Tekst"> </textarea>

<p>
  <%= f.submit %>
</p>

</div>

<% end %>
