<%= form_for @vacancy do |f| %>
   <% if @vacancy.errors.any? %>
      <div id="errors">
         <h2><%= pluralize(@vacancy.errors.count, "error") %> prevented this vacancy from saving.</h2>
         <ul>
            <% @vacancy.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

   <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
   </p>

   <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
   </p>

   <p>
      <%= f.label :demands %><br />
      <%= f.text_area :demands %>
   </p>

   <p>
      <%= f.label :branche %><br />
      <%= f.text_field :branche %>
   </p>

   <p>
      <%= f.label :education_level %><br />
      <%= f.text_field :education_level %>
   </p>

   <p>
      <%= f.label :experience %><br />
      <%= f.text_area :experience %>
   </p>

   <p>
      <%= f.submit %>
   </p>

<% end %>
