<h1>Alle Vacatures</h1>

<%= link_to new_vacancy_path do %>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="vacancy-wrapper">
        <h2><%= link_to "Nieuwe Vacature", new_vacancy_path %></h2>
        <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>'.html_safe, new_vacancy_path %>

      </div>
    </div>
  </div>
<% end %>

<div class="row">
<% @vacancies.each do |vacancy| %>

  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="vacancy-wrapper">
       <h2 class="title"><%= link_to vacancy.title, vacancy %></h2>
       <p class="description"><%= vacancy.description %></p>
       <p class="updated">Voor het laatst gewijzigd op: <%= vacancy.updated_at %></p>
    </div>
  </div>

<% end %>

</div>
