
<div class="row options-bar">

  <div class="col-sm-4 col-md-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Zoeken" style="vertical-align: top;">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">


  <i class="fa fa-search"></i>



        </button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

  <div class="col-sm-4 col-md-3">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn-text">Filters</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn-arrow">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Optie1</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4 col-md-3 pull-right">
    <div class="new-vac"><a href="vacancies/new">Vacature Aanmaken <i class="fa fa-plus-circle fa-1x pull-right" aria-hidden="true"></i></a></div>
  </div>

</div>


<div class="row">
<% @vacancies.each do |vacancy| %>

  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="vacancy-wrapper">
        <i class="fa fa-code fa-5x" aria-hidden="true"></i>
       <h2 class="title"><%= link_to vacancy.title, vacancy %></h2>
    </div>
<!--     <div class="vacancy-options">
      <img src="http://placehold.it/50x50" class="img-circle">
      <%= link_to "Bewerken", edit_vacancy_path(vacancy) %>
-->

<!--       <% if vacancy.online %>
         <input type="radio" name="on_off_<%= vacancy.id %>" value="on" checked="checked"> On
         <input type="radio" name="on_off_<%= vacancy.id %>" value="off"> Off
      <% else %>
      <input type="radio" name="on_off_<%= vacancy.id %>" value="on"> On
      <input type="radio" name="on_off_<%= vacancy.id %>" value="off" checked="checked"> Off
      <% end %> -->
    </div>
<% end %>
  </div>



</div>
