<div class="container">
<div class="row">
  <div class="col-sm-3 vacancy-candidates">

    <div class="buttons">
      <a href="#" class="button-red">Vacature verwijderen <i class="fa fa-times" aria-hidden="true"></i></a> <br> <br>

      <a href="#" class="button-red">Plaats in portefeuille <i class="fa fa-star" aria-hidden="true"></i></a>
    </div>

    <div class="filters">
      <a href="#" class="on">MBO4 X</a> |
      <a href="#" class="off">HBO -</a> |
      <a href="#" class="off">HTML -</a> |
      <a href="#" class="on">CSS X</a>|
      <a href="#" class="on">PHP X</a> <br>
    </div>

<%= link_to "Back", root_path %>

      <% if user_signed_in? %>
         |
<%= link_to "Edit", edit_vacancy_path(@vacancy) %>
         |
<%= link_to "Delete", vacancy_path(@vacancy), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

    <div class="pull-right reaction-icons">
      <a href="#"><i class="fa fa-times cross" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-question question" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-check check" aria-hidden="true"></i></a>
    </div>

    <div class="reactions">
    <% @vacancy.reactions.each do |reaction| %>
      <div class="reaction">
        <%= link_to reaction.first_name + ' ' + reaction.last_name, vacancy_reaction_path(reaction) %>

         <%= (reaction.distance_to(Location.find(@vacancy.location_id)) * 1.61).round(2) %> km

        <div class="pull-right reaction-icons">
          <%= link_to vacancy_reaction_path(@vacancy, reaction), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>

      <div class="reaction-form">
         <%= render 'reactions/form' %>
      </div>
    </div>
  </div>

  <div class="col-sm-9 xpressheet">
    <img src="http://placehold.it/1000x1000" class="img-responsive">
  </div>
</div>
<!-- <div class="col-md-4">
   <div id="reaction">
      <h2><%= @vacancy.reactions.count %> Reactions</h2>
      <%= render @vacancy.reactions %>
   </div>
</div>

<div class="col-md-4">
   <h3>Add a reaction</h3>
   <%= render 'reactions/form' %>
</div> -->
