<h1 class="title">
   <%= @vacancy.title %>
</h1>

<p class="description">
   <b>Description:</b> <%= @vacancy.description %>
</p>

<p class="location">
   <b>Location:</b> <%= @vacancy.location %>
</p>

<p class="demands">
   <b>Demands:</b> <%= @vacancy.demands %>
</p>

<p class="branche">
   <b>Branche:</b> <%= @vacancy.branche %>
</p>

<p class="education_level">
   <b>Education level:</b> <%= @vacancy.education_level %>
</p>

<p class="experience">
   <b>Experience:</b> <%= @vacancy.experience %>
</p>

<p class="buttons">
   <%= link_to "Back", root_path %>

   <% if user_signed_in? %>
      |
      <%= link_to "Edit", edit_vacancy_path(@vacancy) %>
      |
      <%= link_to "Delete", vacancy_path(@vacancy), method: :delete, data: { confirm: 'Are you sure?' } %>
   <% end %>
</p>

<div id="reaction">
   <h2><%= @vacancy.reactions.count %> Reactions</h2>
   <%= render @vacancy.reactions %>

   <% if user_signed_in? %>
      <h3>Add a reaction</h3>
      <%= render 'reactions/form' %>
   <% end %>
</div>
