<div class="row">
  <div class="col-sm-3 vacancy-candidates">
    <h2>Sollicitanten</h2>
    <h3>Filters</h3>
      <ul>
        <li><a href="#">MBO4 +</a></li>
        <li><a href="#">HBO -</a></li>
        <li><a href="#">HTML +</a></li>
        <li><a href="#">CSS +</a></li>
        <li><a href="#">PHP +</a></li>
      </ul>

<%= link_to "Back", root_path %>

      <% if user_signed_in? %>
         |
<%= link_to "Edit", edit_vacancy_path(@vacancy) %>
         |
<%= link_to "Delete", vacancy_path(@vacancy), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% @vacancy.reactions.each do |reaction| %>
      <div class="reaction">
        <a href="#"><%= reaction.first_name %> <%= reaction.last_name %></a>
        <div class="pull-right reaction-icons">
          <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-question" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-9 xpressheet">
    <h1><%= @vacancy.title %></h1>
    <img src="http://placehold.it/1000x800" class="img-responsive">
  </div>

</div>

