<header class="sub-header">
   <ul>
      <li><%= link_to "Back", root_path %></li>

      <% if user_signed_in? %>
         |
         <li><%= link_to "Edit", edit_vacancy_path(@vacancy) %></li>
         |
         <li><%= link_to "Delete", vacancy_path(@vacancy), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
   </ul>
</header>

<div class="col-md-4 vacancy-info">
   <h1 class="title">
      <%= @vacancy.title %>
   </h1>

   <p class="description">
      <b>Description:</b><br />
      <%= @vacancy.description %>
   </p>

   <p class="location">
      <b>Location:</b><br />
      <%= @vacancy.location %>
   </p>

   <p class="demands">
      <b>Demands:</b><br />
      <%= @vacancy.demands %>
   </p>

   <p class="branche">
      <b>Branche:</b><br />
      <%= @vacancy.branche %>
   </p>

   <p class="education_level">
      <b>Education level:</b><br />
      <%= @vacancy.education_level %>
   </p>

   <p class="experience">
      <b>Experience:</b><br />
      <%= @vacancy.experience %>
   </p>
</div>

<div class="col-md-4">
   <div id="reaction">
      <h2><%= @vacancy.reactions.count %> Reactions</h2>
      <%= render @vacancy.reactions %>
   </div>
</div>

<div class="col-md-4">
   <h3>Add a reaction</h3>
   <%= render 'reactions/form' %>
</div>
