<div class="container">
<div class="row">
  <div class="col-sm-3 vacancy-candidates">

   <% if user_signed_in? %>
    <div class="buttons">
      <%= link_to (raw('Vacature Verwijderen <i class="fa fa-times" aria-hidden="true"></i>')), vacancy_path(@vacancy), method: :delete, data: { confirm: 'Weet u het zeker dat u deze vacature wilt verwijderen?' }, class:"button-red" %><br /><br />

      <%= link_to (raw('Vacature Bewerken <i class="fa fa-pencil" aria-hidden="true"></i>')), edit_vacancy_path(@vacancy), class:"button-red" %>
      <br /><br />

      <a href="#" class="button-red">Plaats in portefeuille <i class="fa fa-star" aria-hidden="true"></i></a>
    </div>
   <% end %>

    <div class="filters">
      <a href="#" class="on">MBO4 X</a> |
      <a href="#" class="off">HBO -</a> |
      <a href="#" class="off">HTML -</a> |
      <a href="#" class="on">CSS X</a>|
      <a href="#" class="on">PHP X</a> <br>
    </div>

    <div class="reactions">
    <% @vacancy.reactions.each_with_index do |reaction, index| %>
      <div class='reaction <% if index == 0 %> active <% end %>'>
        <%= link_to reaction.first_name + ' ' + reaction.last_name, vacancy_reaction_path(@vacancy, reaction) %>

         <%= calculateDistance(reaction, @vacancy.location_id) %> km

        <div class="pull-right reaction-icons">
          <%= link_to (raw('<i class="fa fa-times fa-fw cross" aria-hidden="true"></i>')), vacancy_reaction_path(@vacancy, reaction), method: :delete, data: { confirm: 'Weet u zeker dat u deze reactie wilt verwijderen?' }, class:"" %>
          <%= link_to (raw('<i class="fa fa-question fa-fw question" aria-hidden="true"></i>')), edit_vacancy_path(@vacancy), class:"" %>
          <%= link_to (raw('<i class="fa fa-check fa-fw check" aria-hidden="true"></i>')), edit_vacancy_path(@vacancy), class:"" %>
        </div>
      </div>
    <% end %>

      <div class="reaction-form">
         <%= render 'reactions/form' %>
      </div>
    </div>
  </div>

  <div class="col-sm-9 xpressheet">
     <script>

       $.ajax({
          type: "POST",
          url: "../../../vacancies/" + <%= params[:id] %> + "/get_modules"
       }).done(function (response) {
          console.log(response);
          buildVacancy(response);
       });

       function buildVacancy(modules_from_db) {
          $.each(modules_from_db, function(index) {
              $("#modules-from-db").append("<div class='selected-module' data-width='" + modules_from_db[index]["width"] + "'><span class='module-text'>" + modules_from_db[index]["name"] + "</span></div>");
          });

          $(".selected-module").css('width', function() {
              return (($(this).data("width") * 23) + "%" );
          });
       }
     </script>

     <div id="modules-from-db" class="modules-container">

     </div>

    <!-- <img src="http://placehold.it/1000x1000" class="img-responsive"> -->
  </div>
</div>
<!-- <div class="col-md-4">
   <div id="reaction">
      <h2><%= @vacancy.reactions.count %> Reactions</h2>
      <%= render @vacancy.reactions %>
   </div>
</div>

<div class="col-md-4">
   <h3>Add a reaction</h3>
   <%= render 'reactions/form' %>
</div> -->
