<div class="container">
<div class="row">
   <% @companies.each do |company| %>
  <div class="col-sm-3 sidenav">
    <%= link_to (raw('<p>Bedrijfsgegevens<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), companies_path, class:"" %>
    <%= link_to (raw('<p>Bedrijfslocatie toevoegen<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), new_company_location_path(company), class:"" %>
    <%= link_to (raw('<p class="active">Gebruiker toevoegen<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), new_user_path, class:"" %>
  </div>
  <% end %>

  <div class="col-sm-9">
    <div class="form new-user-form">

      <h1>Gebruiker toevoegen</h1>

      <%= form_for(User.new, html: { multipart: true }, url: create_user_path) do |f| %>

           <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>

            <p>Voeg een avatar toe (maximaal 250x250)</p>
            <%= f.file_field 'avatar', :class => 'avatar_button' %>

           <%= f.text_field :first_name, autocomplete: "off", placeholder: 'Voornaam' %>

           <%= f.text_field :last_name, autocomplete: "off", placeholder: 'Achternaam' %>

            <p>Admin?</p>
            <%= f.select :admin, [["Ja", true], ["Nee", false]], :promt => 'Maak een keuze' %>

           <% if @minimum_password_length %>
           <em>(<%= @minimum_password_length %> characters minimum)</em>
           <% end %><br />
           <%= f.password_field :password, autocomplete: "off", placeholder: 'Wachtwoord' %>

           <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Wachtwoord bevestigen' %>

         <div class="actions">
           <%= f.submit 'Gebruiker aanmaken', :class => 'submit-button' %>
         </div>

       <% end %>
    </div>
  </div>
</div>
</div>
