<div class="contact-gegevens-module">
   <input type="hidden" name="contact_fields_name" value="contact_gegevens">

   <div class="field">
      <%= f.label :contact_fields_horizontal_position %>
      <%= f.text_field :contact_fields_horizontal_position %>
   </div>

   <div class="field">
      <%= f.label :contact_fields_vertical_position %>
      <%= f.text_field :contact_fields_vertical_position %>
   </div>

   <div class="field">
      <%= f.label :contact_fields_width %>
      <%= f.text_field :contact_fields_width %>
   </div>

   <div class="field">
      <%= f.label :contact_fields_height %>
      <%= f.text_field :contact_fields_height %>
   </div>
</div>
