<%= form_for @company do |f| %>
   <% if @company.errors.any? %>
      <div id="errors">
         <h2><%= pluralize(@company.errors.count, "error") %> prevented this vacancy from saving.</h2>
         <ul>
            <% @company.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>
   <div class="form">
      <h1>Bedrijfsgegevens bewerken</h1>

         <%= f.text_field :name, placeholder: "Naam" %>

         <%= f.text_area :description, placeholder: "Beschrijving" %>

         <%= f.text_field :address, placeholder: "Adres" %>

         <%= f.text_area :postal_code, placeholder: "Postcode" %>

         <%= f.text_field :city, placeholder: "Stad" %>

         <%= f.submit "Opslaan", class: "xpressy-button green-button" %>
      </p>
   </div>

<% end %>
