<% if Company.exists? %>
   <!-- <% @companies.each do |company| %>
      <h3><%= link_to 'View locations', company_locations_path(company) %></h3>
   <% end %> -->
<% end %>

<div class="container">
  <div class="col-sm-3 sidenav">
    <a href="#" ><p class="active">Bedrijfsgegevens <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p></a>
    <%= link_to (raw('<p>Bedrijfslocatie toevoegen<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), new_company_location_path, class:"" %>
    <%= link_to (raw('<p>Gebruiker toevoegen<i class="fa fa-arrow-right pull-right" aria-hidden="true"></i></p>')), new_user_path, class:"" %>

  </div>

  <div class="col-sm-9">
    <div class="locations">
      <div class="location">
        <h1>Locatie 1</h1>
        <p>Bedrijfsnaam: <a href="#">Bewerken</a></p>
        <p>Straatnaam en huisnummer: <a href="#">Bewerken</a></p>
        <p>postcode: <a href="#">Bewerken</a></p>
        <p>Land: <a href="#">Bewerken</a></p>
        <a href="#">Locatie verwijderen</a>
      </div>

      <div class="location">
        <h1>Locatie 2</h1>
        <p>Bedrijfsnaam: <a href="#">Bewerken</a></p>
        <p>Straatnaam en huisnummer: <a href="#">Bewerken</a></p>
        <p>postcode: <a href="#">Bewerken</a></p>
        <p>Land: <a href="#">Bewerken</a></p>
        <a href="#">Locatie verwijderen</a>
      </div>
    </div>
  </div>
</div>

   <!-- <h1 style="text-align:center;"><%= link_to "Voeg een nieuwe locatie toe", new_company_location_path(@companies.ids) %></h1>
   <% @companies.each do |company| %>
      <div class="col-md-3">
         <% company.locations.each do |location| %>
            <h1 style="text-align:center;"><%= location.name %></h1>
            <p>
               <b>Address</b><br />
               <%= location.address %>
            </p>
            <p>
               <b>Postal Code</b><br />
               <%= location.postal_code %>
            </p>
            <p>
               <b>City</b><br />
               <%= location.city %>
            </p>
            <p>
               <b>Country</b><br />
               <%= location.country %>
            </p>
            <p>
               <b><%= link_to 'Edit', edit_company_location_path(company, location) %></b><br />

               <b><%= link_to 'Delete', company_location_path(company, location), method: :delete, data: { confirm: "Are you sure?" } %></b>
            </p>
         <% end %>
      </div>
   <% end %>

   <div class="company-wrapper">
      <% if Company.exists? %>
         <% @companies.each do |company| %>
            <h2 class="title" style="text-align: center"><%= company.name %></h2>
            <div class="container">
               <p class="description">
                  <b>Description: </b><br />
                  <%= company.description %>
               </p>

               <p class="address">
                  <b>Address: </b><br />
                  <%= company.address %>
               </p>

               <p class="postal_code">
                  <b>Postal Code: </b><br />
                  <%= company.postal_code %>
               </p>

               <p class="city">
                  <b>City: </b><br />
                  <%= company.city %>
               </p>

               <p class="edit-company">
                  <%= link_to 'Edit Company', edit_company_path(company) %>
               </p>
            </div>
         <% end %>

         <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="<%= active_tab(new_user_by_admin_path) %>"><%= link_to (raw('<span>Sign Up New User</span>')), new_user_by_admin_path, class:"" %></a></li>
          <% end %>
         <% end %>

      <% else %>
         <h2 class="title"><%= link_to 'Create company', new_company_path %></h2>

      <% end %>
  </div>
 -->
