<%= form_for([@company, @location]) do |f| %>
   <% if @location.errors.any? %>
      <div id="errors">
         <h2><%= pluralize(@location.errors.count, "error") %> prevented this location from saving.</h2>
         <ul>
            <% @location.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>

<div class="form">

      <%= f.text_field :name, placeholder: 'Naam'%>

      <%= f.text_field :address, placeholder: 'Adres' %>

      <%= f.text_field :postal_code, placeholder: 'Postcode' %>

      <%= f.text_field :city, placeholder: 'Stad' %>

      <%= f.text_field :country, placeholder: 'Land' %>

      <%= f.submit %>

<% end %>
</div>
