<header class="sub-header">
   <ul>
      <li><%= link_to "Back", companies_path %></li>
   </ul>
</header>

<h1>All locations</h1>
<p><%= link_to "New Location", new_company_location_path %></p>

<% @locations.each do |location| %>
   <div class="col-md-4">
      <div class="location-wrapper">
         <h2 class="title"><%= location.name %></h2>
         <p class="address">
            <b>Address:</b><br />
            <%= location.address %>
         </p>

         <p class="postal_code">
            <b>Postal Code:</b><br />
            <%= location.postal_code %>
         </p>

         <p class="city">
            <b>City:</b><br />
            <%= location.city %>
         </p>

         <p class="country">
            <b>County:</b><br />
            <%= location.country %>
         </p>

         <p class="longitude">
            <b>Longitude:</b><br />
            <%= location.longitude %>
         </p>

         <p class="latitude">
            <b>Latitude:</b><br />
            <%= location.latitude %>
         </p>

         <% if user_signed_in? %>
            <p><%= link_to "Edit", [location.company, location] %></p>
            <p><%= link_to "Delete", [location.company, location], method: :delete, data: { confirm: 'Are you sure?' } %></p>
         <% end %>
      </div>
   </div>
<% end %>
