<!DOCTYPE html>
<html>
  <head>
    <title>XpressyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if user_signed_in? %>

      <p class="log_buttons log_out_button"><span class="log_out">Log Out</span></p>

   <% else %>

      <p class="log_buttons log_in_button"><span class="log_in">Log In</span></p>

   <% end %>

   <% flash.each do |name, msg| %>

      <%= content_tag(:div, msg, class: "alert") %>

   <% end %>

    <%= yield %>
  </body>
</html>
