<!DOCTYPE html>
<html>
  <head>
    <title>XpressyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="log_buttons"><span class="log_in">Log in</span></p>

   <% flash.each do |name, msg| %>

      <%= content.tag(:div, msg, class: "alert") %>

   <% end %>

    <%= yield %>
  </body>
</html>
