<!DOCTYPE html>
<html>
  <head>
    <title>XpressyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header">
         <ul>
            <% if user_signed_in? %>

               <li>Hello, <%= current_user.email %></li>
               <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></span></li>

               <% if current_user.admin? %>
                  <li><%= link_to 'Sign up a new user', new_user_by_admin_path %></li>
               <% end %>

            <% else %>
               <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
         </ul>
      </header>

   <% flash.each do |name, msg| %>

      <%= content_tag(:div, msg, class: "alert") %>

   <% end %>

   <div class="content-wrapper">
      <%= yield %>
   </div>
  </body>
</html>
