<!DOCTYPE html>
<html>
  <head>
    <title>Xpressy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'fav_icon.png', type: 'image/png' %>
    <script src="https://use.fontawesome.com/ad3908c2e9.js"></script>

  </head>

  <body>
      <header>
        <nav>
          <ul class="row">
          <% if user_signed_in? %>
            <div class="col-sm-2">
              <li> <%= image_tag current_user.avatar.url(:thumb), class: "img-circle"%> <%= current_user.first_name %> </li>
            </div>
            <div class="col-sm-6 pull-right text-right">
              <li> <%= link_to (raw('Portefeuille <i class="fa fa-star" aria-hidden="true"></i>')), root_path, class:"" %></a></li>
              <li> <%= link_to (raw('Instellingen <i class="fa fa-cog" aria-hidden="true"></i>')), companies_path, class:"" %></a></li>
              <li> <%= link_to (raw('Uitloggen <i class="fa fa-sign-out" aria-hidden="true"></i>')), destroy_user_session_path, :method => :delete, class:"" %></a></li>
            </div>

          <% else %>
            <li class="<%= active_tab(new_user_session_path) %>"><%= link_to (raw('<span>Sign In</span>')), new_user_session_path, class:"" %></a></li>
          <% end %>

          </ul>
        </nav>
      </header>

   <% flash.each do |name, msg| %>

      <%= content_tag(:div, msg, class: "alert") %>

   <% end %>

   <div class="container-fluid background">

      <%= yield %>
   </div>
   <footer>
      <%= image_tag("logo_wit.png", class:"pull-right") %>
   </footer>
  </body>
</html>
